<form #registerForm="ngForm" (ngSubmit)="register()" autocomplete="off">
  <h2 class="tet-center text-primary">Sign up</h2>
  <hr />
  <div class="mb-3 form-floating">
    <input type="text" name="username" class="form-control" placeholder="Username" [(ngModel)]="model.username" />
    <label for="">UserName</label>
  </div>
  <div class="mb-3 form-floating">
    <input type="password" name="password" class="form-control" placeholder="password" [(ngModel)]="model.password" />
    <label for="">password</label>
  </div>
  <div class="form-group text-center">
    <button class="btn btn-success me-2" (click)="register()" type="submit">Register</button>
    <button class="btn btn-default me-2" (click)="cancel()" type="submit">Cancel</button>
  </div>
</form>
